//flat colours and sheers
$black: #000000;
$white: #FFFFFF;
$sheerWhite: rgb(255, 255, 255, 0.4);
$solidGreen: #484905;
$sheerGreen: rgb(72, 73, 5, 0.9);
$button: #BC2E02;
$sale: #BC2E02;
$new: #90870A;

//text
$smallFont: #454545;

//gradients
$blackGradient: linear-gradient(180deg, rgba(26, 13, 8, 0.5) 0%, rgba(0, 0, 0, 0.13) 61.98%, rgba(0, 0, 0, 0) 100%);