@import "./../../sassStyles/palette.scss";
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/typography";

* {
  padding: 0px;
  margin: 0px;
}

.Cart {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  &__background_img {
    position: fixed;
    top: 0px;
    z-index: -10;
    @include height-width(100vh, 100vw);

    @include query-phone {
      background-image: url("./../../media/mobile_background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  &__sheer {
    position: fixed;
    top: 0px;
    z-index: -1;
    @include height-width(100vh, 100vw);
    background-color: $sheerGreen;
  }

  &__ItemContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 15px;
    max-height: 90vh;
    @include height-width(65vh, 100vw);
    background-color: $sheerWhite;
    // border: 1px solid blue;
  }

  &__items {
    @include height-width(40vh, 100%);
    // border: 1px solid purple;

    &_extended {
      @include height-width(40vh, 100%);
    }
  }

  &__title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    @include height-width(10vh, 100vw);
    @include font-regular($white, 1.8rem);
  }

  &__tallyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include height-width(150px, 160px);
  }

  &__tallySection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
    width: 100%;

    &_price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 5px 0px;
      border-bottom: 1px solid $white;
    }

    &_shipping {
      @include font-regular($white, 0.8rem);
    }

    &_total {
      @include font-emphasis($white, 1rem);
    }
  }


  &__couponInput {
    display: flex;
    justify-content: center;
    align-items: center;
    @include height-width(25px, 65%);
    @include font-regular($solidGreen, 0.8rem);
    background-color: $sheerWhite;
    border-radius: 20px;
  }

  &__couponButton {
    display: flex;
    justify-content: center;
    align-items: center;
    @include height-width(25px, 30%);
    @include font-regular($white, 0.8rem);
    background-color: $solidGreen;
    border: none;
    border-radius: 5px;
  }

  &__purchaseButton {
    background-color: $button;
    @include height-width(40px, 100%);
    @include font-regular($white, 1rem);
    border: none;
    border-radius: 5px;
  }

  &__favBar {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 15px 0px;
    @include height-width(25vh, 100vw);
    @include font-regular($white, 0.8rem);
    overflow: hidden;

    &_heading {
      margin: 10px 0px;
    }
  }
}