@import "./../../sassStyles/palette";
@import "./../../sassStyles/typography"; 
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";

.Product {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    @include height-width(auto, 100vw);
  }

  &__imgWindow {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__gradient {
    position: fixed;
    top: 0px;
    @include height-width(20vh, 100vw);
    background-color: $blackGradient;

    &_2 {
      display: flex;
      align-items: flex-end;
      top: 15vh;
      @include height-width(15vh, 100vw);
      transform: rotate(180deg);
    }
  }

  &__title {
    margin: 0px 0px 10px 0px;
    @include font-emphasis($white, 1rem);
  }

  &__productInformation {
    position: absolute;

  }
}