@import "./../../sassStyles/palette";
@import "./../../sassStyles/typography"; 
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";

.Product {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__backgroundImage {
    position: absolute;
    top: 0px;
    z-index: -10;
    @include height-width(100vh, 100vw);
    background-image: url("./../../media/mobile_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: $solidGreen;
  }

  &__sheer {
    position: absolute;
    top: 0px;
    z-index: -9;
    @include height-width(100vh, 100vw);
    background-color: $sheerGreen;
  }

  &__image {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    z-index: -1;
    @include height-width(80vh, 100vw);
    background-color: #c9c9c9;
  }

  &__imgWindow {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include height-width(65vh, 100vw);
    border: 1px solid red;
  }

  &__gradient {
    z-index: 1;
    @include height-width(20vh, 100vw);
    background-image: $blackGradient;

    &_2 {
      display: flex;
      align-items: flex-end;
      @include height-width(15vh, 100vw);
      background-image: $blackGradient2;
    }
  }

  &__title {
    margin: 0px 0px 0px 15px;
    @include font-emphasis($white, 1rem);
  }

  &__productInformation {
    box-sizing: border-box;
    position: relative;
    padding: 15px;
    @include height-width(22vh, 100vw);
    background-color: $white;
  }

  &__status {
    @include font-emphasis($sale, 0.8rem);
  }

  &__text {
    margin: 5px 0px 0px 0px;
    @include font-regular($black, 0.8rem);
  }

  &__price {
    margin: 0px;
    @include font-emphasis($black, 1.2rem);
  }

  &__spanBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px 0px 0px;
  }

  &__buttonBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background-color: $button;
    margin: 0px 0px 0px 10px;
    @include height-width(25px, 100px);
    @include font-regular($white, 0.8rem);
    border: none;
    border-radius: 5px;
  }
}