@import "./../../sassStyles/palette.scss";
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";

.hell {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}
.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include height-width(200vh, 100vw);

  &__background_img {
    position: fixed;
    z-index: -10;
    @include height-width(100vh, 100vw);

    @include query-phone {
      background-image: url("./../../media/mobile_background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  &__sheer {
    position: fixed;
    top: 0px;
    z-index: -1;
    @include height-width(100vh, 100vw);transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    background-color: $invisibleGreen;

    &_visible  {
      background-color: $sheerGreen;
    }
  }

  &__gradient {
    position: fixed;
    top: 0px;
    z-index: -5;
    @include height-width(30vh, 100vw);
    background-image: $blackGradient;
  }

  &__landingPageSpace {
    @include height-width(35vh, 100vw);
  }
}

.Store {
  position: absolute;
  bottom: 0px;
  @include height-width(100vh, 100vw);

  &__featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0vh 0vh 0vh;
    @include height-width(26vh, 100vw);
  }

  &__itemGrid {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0vh;
    padding: 15px;
    @include height-width(60vh, 100vw);
    background-color: $white;

    &_container {
      @include height-width(100%, 100%);
      border: 1px solid yellow;
    }
  }
}
