@import "./../../sassStyles/typography";
@import "./../../sassStyles/palette";
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/variables";

.searchBar {
  &__form {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 700px;
    background-color: $sheerestGreen;
    border-radius: 15px;
    margin: 0px 0px 15px 0px;
    @include height-width(35px, 75vw);
  }

  &__search-button-container {
    display: flex;
    @include height-width(100%, 100%);
    background-color: $solidGreen;
    border-radius: 15px;
  }

  &__select {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 10px;
    @include height-width(100%, auto);
    min-width: 25%;
    @include font-thin($white, 0.8rem);
    @include color-background($white, $solidGreen);
    border: none;
    border-radius: 15px 0px 0px 15px;

    &:focus-visible {
      outline: none;
    }
  }

  &__textInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 10px;
    @include height-width(100%, 100%);
    @include font-thin($white, 0.8rem);
    @include color-background($white, transparent);
    border: none;

    &::placeholder {
      color: $sheerGreen;
    }

    &::-ms-input-placeholder {
      color: $sheerGreen;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__submit {
    position: absolute;
    top: 0px;
    right: 0px;
    @include height-width(100%, auto);
    @include color-background(transparent, $solidGreen);
    border: none;
    border-radius: 0px 15px 15px 0px;
  }

  &__icon {
    @include height-width(10px, 10px);
  }
}
