@import "./../../sassStyles/typography";
@import "./../../sassStyles/palette";
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/variables";

.searchBar {
  &__container {
    display: flex;
    flex-direction: row;
    position: relative;
    @include height-width(35px, 60vw);
    max-width: 700px;
    background-color: $solidGreen;
    border-radius: 15px;

  }

  &__form {
    display: flex;
    @include height-width(100%, 100%);
  }

  &__search-button-container {
    display: flex;
    @include height-width(100%, 100%);
    background-color: $solidGreen;
    border-radius: 15px;
  }

  &__select {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    @include height-width(100%, auto);
    min-width: 25%;
    @include font-regular($white, 1rem);
    @include color-background($white, $solidGreen);
    border: none;
    border-radius: 15px;

    &:focus-visible {
      outline: none;
    }
  }

  &__textInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 20px;
    @include height-width(100%, 100%);
    @include font-regular($lightBlack, 1rem);
    @include color-background($white, transparent);border: none;

    &:focus-visible {
      outline: none;
    }
  }

  &__submit {
    padding: 0px 10px;
    @include height-width(100%, auto);
    @include color-background(transparent, transparent);
    border: none;
    border-radius: 15px;
  }

  &__icon {
    @include height-width(20px, 20px);
  }
}
