//flat colours and sheers
$black: #000000;
$lightBlack: #262626;
$white: #FFFFFF;
$sheerWhite: #ffffff66;
$solidGreen: #484905;
$sheerGreen: #484905e6;
$sheerestGreen: #48490580;
$invisibleGreen: #48490500;
$button: #BC2E02;
$sale: #BC2E02;
$new: #90870A;
$cardBorder: #EAEAEA;

//text
$smallFont: #454545;

//gradients
$blackGradient: linear-gradient(180deg, #1a0d0880 0%, #00000021 61.98%, #00000000 100%);
$blackGradient2: linear-gradient(0deg, #1a0d0880 0%, #00000021 61.98%, #00000000 100%);