.Feature_title {
  position: sticky;
  position: -webkit-sticky;
  top: -4vh;
  z-index: 2;
  height: 18vh;
  width: auto;
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;

  &__small {
    transform: scale(0.33);
  }
}